* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
/* set the black background for the whole body */
body {
    background-color: #222222;   
}
.container{
    width:80%;
    height:auto;
    margin: 0 auto;
    background-color: #F0F0F0;
    padding-bottom: 30px;
}
header {
    background-color: #e2e0e0;
    padding: 10px 10px 0px 10px;
    
}
header .header-div h1 {
    font-size: 3rem;   
}
.header-div {
    font-family: 'Segoe UI';
    padding: 3rem;
    background-color: #F0F0F0;
    box-shadow: 0px 0px 1px 0px #EBF0F2;
}
.header-div p{
    color:grey;
    font-size:1.5rem;
}
section {
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.table-section {
    margin: 0px 0px 0px 5px;
    overflow-y:scroll;    
}
.table-section .etask-heading p, .create-header p{
    font-family: 'Arial', Helvetica, sans-serif;
}
.create-header,
.etask-heading {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-bottom: 1em;
}
.form-section,
.table-section {
    flex: 1;
    padding: 50px;
    background: white;
    border-radius: 2px;
}
.form-section {
    margin: 0px 5px 0px 0px;
}
.create-form {
    font-family: 'Segoe UI';
}
/* style the form element */
.create-form-el {
    margin-bottom: 20px;
}
/* style the label */
.create-form-element label {
    font-size: 1.2rem;
}
/* style the input in the class */
.create-form-el input {
    border: 2px solid #e2e0e0;
    background-color: #F0F0F0;
    padding: 10px;
    width: 100%;
    height: 3.5rem;
    margin-top: 2%;
    border-radius: 5px;
    font-size: 1rem;
    outline-offset: 0px;
    outline: none;
}
#submit {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    background: #554e4e;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;   
}
.table-section table {
    border-radius: 4px;
    width: 100%;
    border-spacing: 0px;
    border: 2px solid white;
    box-shadow: 0 0 0 7px #F0F0F0;
}
.table-section table tr:nth-child(2n) {
    background: #F0F0F0;
    border: 1px solid #F0F0F0;
}
.table-section table tr {
    padding: 10px;
    height: 3rem;
}
.table-section table tr td {
    padding: 10px;
    /* font-size: 1.2rem; */
}
/* set the widths for the name col */
.table-section table tr td:nth-child(1) {
    width: 8em;
}
/* set the widths for the date col */
.table-section table tr td:nth-child(2) {
    width: 18rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
}
/* set the widths for the assignedTo col */
.table-section table tr td:nth-child(3) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:6rem;
}
/* to achieve the striped effect */
.table-section table tr td:nth-child(2n) {
    color: gray;
}
.table-section table tr td:nth-child(2n-1) {
    font-weight: bold;
}
